.card-box {
  width: 98%;
  max-width: 485px;
  height: 248px;

  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  transition: 0.3s ease-in-out;
}

.card-box-active {
  max-width: 550px !important;
  height: 400px !important;
}

.background-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.background-image {
  height: 100%;
}

.image-box {
  padding: 5px;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;

  position: absolute;
  top: 25px;
  left: -21%;

  cursor: pointer;
  z-index: 1;
}

.image-box-active {
  top: -100px;
  left: 30%;
}

.image {
  max-width: 195px;
  max-height: 195px;
  border-radius: 50%;
}

.details-box {
  margin-left: 115px;
  padding: 56px 24px 24px 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;

  z-index: 1;
}

.details-box-active {
  margin-top: 85px;
  margin-left: 0;
  padding: 35px 24px 24px;
  flex: 1;
}

.heading {
  font-size: 14px;
  font-weight: 600;
  color: #343131;
  line-height: 21px;
  flex: 1;

  transition: 0.3s ease-in-out;
}

.heading-active {
  font-size: 18px;
  line-height: 27px;
  flex: none;
}

.food-details {
  font-size: 18px;
  line-height: 27px;
  color: #666666;
  margin-top: 10px;
  flex: 1;
  transition: 0.5s ease-in-out;

  display: none;
}

.food-details-active {
  display: block;
}

.price-details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.3s ease-in-out;
}

.price {
  font-size: 18px;
  font-weight: 600;

  transition: 0.3s ease-in-out;
}

.price-active {
  font-size: 34px;
}
